<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<title>@ViewBag.Title</title>
		<link rel="stylesheet" href="/content/style.css" type="text/css"/>
		<script type="text/javascript" src="/scripts/script.js"></script>
	</head>
	<body>
		@RenderBody()
	</body>
</html>